/** ************************************** **/
/** ************* WHOLE PAGE ************* **/
/** ************************************** **/
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

form #searchBtn, form {
    color: #1d1d1d;
}

/** ************************************** **/
/** ********** NAVBAR AND FOOTER ********* **/
/** ************************************** **/
.navbar, .navbar ul .dropdown-menu,
.navbar ul .list-group-item,
footer ul .dropdown-menu,
footer ul .list-group-item, 
footer, footer div .row {
    background-color: #1d1d1d;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

li .dropdown-item {
    color: #F7F7F7;
}

li .dropdown-item:hover {
    background-color: #8A2BE2;
    color: #F7F7F7;
    transition: 0.5s ease;
}

form #searchBtn {
    background-color: #8A2BE2;
    border-color: #8A2BE2;
}

#cartBtnBasic, #cartBtnBurger {
    background-color: #FF5700;
    border-color: #FF5700;
    color: #1d1d1d;
}

form #searchBtn:hover,
#cartBtnBasic:hover, #cartBtnBurger:hover {
    color: #F7F7F7;
    transition: 0.5s ease;
}

.link {
    text-decoration: none;
    color: #F7F7F7;
}

.link:hover {
    color: #8A2BE2;
    transition: 0.5s ease;
}

#copyrightBar {
    font-size: 0.6em;
}

.list-group-item {
    font-size: 0.8em;
}


/** ************************************** **/
/** *************** TITLES *************** **/
/** ************************************** **/
h1, h2, h3, #logo {
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}


/** ************************************** **/
/** **************** MAIN **************** **/
/** ************************************** **/
main {
    background-color: white;
}

#homeSection {
    background-image: url("../assets/wallpapers/4ksetup.jpg");
    background-size: cover;
    background-position: center;
    min-height: 93vh;
}

#homeText {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

@media (max-width: 992px) {
    #homeSection {
        min-height: 30vh;
    }
}

.box {
    background-color: #F7F7F7;
}

.card, .card-img {
    border-color: #8A2BE2 !important;
    background-color: #8A2BE2;
}

.card:hover {
    border-color: #FF5700 !important;
    transition: 0.5s ease;

    .card-img {
        background-color: #FF5700;
        transition: 0.5s ease;
    }
}

.card-img-top {
    object-fit: cover !important;
    height: 10px;
}

.card-title  {
    text-decoration: none;
}

.newBtn, .wireBtn {
    font-size: 0.6em;
    background-color: #FFC300;
}

.categoryBtn {
    font-size: 0.6em;
    background-color: #8A2BE2;
    color: #F7F7F7;
}

form div textarea {
    resize: none !important;
    height: 150px !important;
}

.select-items, .select-selected {
    background-color: #8A2BE2 !important;
}

form div input:focus {
    outline: none !important;
}

div button[type=submit], 
td .btn, 
div .btn {
    background-color: #FF5700;
    color: #F7F7F7;
}

div button[type=submit]:hover,
td .btn:hover, 
div .btn:hover {
    transition: 0.5s ease;
    background-color: #0F7FFF;
    color: #F7F7F7;
}
/*
Principale :    orange vif 		#FF5700
Secondaire:     bleu électrique #0F7FFF
Accentuation:   violet puissant #8A2BE2
Accentuation:   jaune vif		#FFC300
Fond:           gris 			#F7F7F7
supplémentaire: noir profond	#1D1D1D
*/